.Rhistory
.DS_Store
.Rproj.user
zip-data/
unzip-data/
dta-data/
zip-dofiles/
unzip-dofiles/
fixed-dofiles/
zip-dictionary/
unzip-dictionary/
zip-data/
unzip-data/
data/
zip-do-files/
unzip-do-files/
fixed-do-files/
zip-dictionaries/
unzip-dictionaries/
dictionaries/
*.do.stswp
*.stswp
*.Rproj
ipeDTAs-test.do