.Rhistory
.DS_Store
.Rproj.user
zip-data/
unzip-data/
data/
zip-do-files/
unzip-do-files/
fixed-do-files/
zip-dictionaries/
unzip-dictionaries/
dictionaries/
*.do.stswp
*.stswp
*.Rproj
ipeDTAs-test.do
/.quarto/
_site/
_extensions/
_quarto.yml
index.qmd
Tutorials/*
!Tutorials/R.qmd
!Tutorials/Stata.qmd
apple-touch-icon.png